@import "../../styles/theme";

.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 300px;
  height: calc(100vh - 58px);
  overflow: hidden;
  background-color: $gray_white;
  gap: 20px;
}

.container > div:first-child {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav_card_container {
  display: flex;
  margin: 10px;
  transition: box-shadow 1000ms;
}

.nav_card_container:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.nav_card {
  display: flex;
  font-size: 20px;
  column-gap: 20px;
  padding: 10px 0;
  letter-spacing: 1.2px;
  justify-content: center;
  width: 100%;
}
